* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 30px, 10%;
    background-color: white;
    margin: 0%;
}

.title {
    margin-top: 15px;
}

.logo {
    height: 75px;
    cursor: default;
}

.nav_links {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin: 25px;
    transition: all 0.3s 0.2s ease;
}

.nav_links li:hover {
    color: blue;
    transform: translateY(-10px);
}

.nav_links a {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-decoration: none;
}

.HOME {
    height: 100%;
    width: 100%;
    background-image: url(home.png);
    background-size: cover;
    background-position: center;
}

.HOME h1 {
    padding: 50px;
    color: black;
    text-align: center;
    font-size: 40px;
}

.HOME p {
    color: black;
    padding: 10;
    font-size: 20px;
    text-align: center;
}

.TEAM {
    height: max-content;
    width: 100%;
    background-color: black;
    color: white;
}

.TEAM h1 {
    text-align: center;
    font-size: 40px;
    padding: 50px;
}

.TEAM p {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 30px;
}

.team_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.team_list li {
    font-size: 20px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: white;
    width: 30%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.team_list p {
    font-size: 19px;
}

li :hover {
    color: blue;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}

.STANDINGS {
    height: 100%;
    width: 100%;
    background-image: url(colage.png);
    color: white;
    background-size: cover;
    background-position: center;
}

.STANDINGS h1 {
    text-align: center;
    font-size: 40px;
    padding: 50px;
}

.STANDINGS p {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 30px;
}